# Import

In [80]:
%pip install numpy
%pip install pandas
%pip install tensorflow
%pip install scikit-learn

import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split
import json
import os

Requirement already satisfied: numpy in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\intel x nvidia\appdata\roaming\python\python39\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\intel x nvidia\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: tensorflow in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (2.16.1)
Requirement already satisfied: tensorflow-intel==2.16.1 in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from tensorflow) (2.16.1)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (2.1.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=23.5.26 in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (24.3.25)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (0.5.4)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (0.2.0)
Requirement already satisfied: h5py>=3.10.0 in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (3.11.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (18.1.1)
Requirement already satisfied: ml-dtypes~=0.3.1 in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (0.3.2)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (3.3.0)
Requirement already satisfied: packaging in c:\users\intel x nvidia\appdata\roaming\python\python39\site-packages (from tensorflow-intel==2.16.1->tensorflow) (24.0)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (4.25.3)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (2.31.0)
Requirement already satisfied: setuptools in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (70.0.0)
Requirement already satisfied: six>=1.12.0 in c:\users\intel x nvidia\appdata\roaming\python\python39\site-packages (from tensorflow-intel==2.16.1->tensorflow) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (2.4.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\intel x nvidia\appdata\roaming\python\python39\site-packages (from tensorflow-intel==2.16.1->tensorflow) (4.12.1)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (1.16.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (1.64.1)
Requirement already satisfied: tensorboard<2.17,>=2.16 in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (2.16.2)
Requirement already satisfied: keras>=3.0.0 in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (3.3.3)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (0.31.0)
Requirement already satisfied: numpy<2.0.0,>=1.23.5 in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from tensorflow-intel==2.16.1->tensorflow) (1.26.4)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.16.1->tensorflow) (0.43.0)
Requirement already satisfied: rich in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from keras>=3.0.0->tensorflow-intel==2.16.1->tensorflow) (13.7.1)
Requirement already satisfied: namex in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from keras>=3.0.0->tensorflow-intel==2.16.1->tensorflow) (0.0.8)
Requirement already satisfied: optree in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from keras>=3.0.0->tensorflow-intel==2.16.1->tensorflow) (0.11.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.16.1->tensorflow) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.16.1->tensorflow) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.16.1->tensorflow) (1.26.18)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.16.1->tensorflow) (2024.6.2)
Requirement already satisfied: markdown>=2.6.8 in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from tensorboard<2.17,>=2.16->tensorflow-intel==2.16.1->tensorflow) (3.6)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from tensorboard<2.17,>=2.16->tensorflow-intel==2.16.1->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from tensorboard<2.17,>=2.16->tensorflow-intel==2.16.1->tensorflow) (3.0.3)
Requirement already satisfied: importlib-metadata>=4.4 in c:\users\intel x nvidia\appdata\roaming\python\python39\site-packages (from markdown>=2.6.8->tensorboard<2.17,>=2.16->tensorflow-intel==2.16.1->tensorflow) (7.1.0)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from werkzeug>=1.0.1->tensorboard<2.17,>=2.16->tensorflow-intel==2.16.1->tensorflow) (2.1.5)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from rich->keras>=3.0.0->tensorflow-intel==2.16.1->tensorflow) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\intel x nvidia\appdata\roaming\python\python39\site-packages (from rich->keras>=3.0.0->tensorflow-intel==2.16.1->tensorflow) (2.18.0)
Requirement already satisfied: zipp>=0.5 in c:\users\intel x nvidia\appdata\roaming\python\python39\site-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.17,>=2.16->tensorflow-intel==2.16.1->tensorflow) (3.19.1)
Requirement already satisfied: mdurl~=0.1 in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from markdown-it-py>=2.2.0->rich->keras>=3.0.0->tensorflow-intel==2.16.1->tensorflow) (0.1.2)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: scikit-learn in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (1.5.0)
Requirement already satisfied: numpy>=1.19.5 in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\intel x nvidia\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

# Combine

In [81]:
# Specify the path to the CSV file
file_path_99co_bekasi_nopal = 'Processed_Data/99co_bekasi_nopal.csv'

# Read the CSV file into a Pandas DataFrame
df_99co_bekasi_nopal = pd.read_csv(file_path_99co_bekasi_nopal)

# Specify the path to the CSV file
file_path_99co_bogor_nopal = 'Processed_Data/99co_bogor_nopal.csv'

# Read the CSV file into a Pandas DataFrame
df_99co_bogor_nopal = pd.read_csv(file_path_99co_bogor_nopal)

# Specify the path to the CSV file
file_path_99co_tangerang_nopal = 'Processed_Data/99co_tangerang_nopal.csv'

# Read the CSV file into a Pandas DataFrame
df_99co_tangerang_nopal = pd.read_csv(file_path_99co_tangerang_nopal)

# Specify the path to the CSV file
file_path_99co_depok_nopal = 'Processed_Data/99co_depok_nopal.csv'

# Read the CSV file into a Pandas DataFrame
df_99co_depok_nopal = pd.read_csv(file_path_99co_depok_nopal)

# Specify the path to the CSV file
file_path_99co_bogor_bagas = 'Processed_Data/99co_bogor_bagas.csv'

# Read the CSV file into a Pandas DataFrame
df_99co_bogor_bagas = pd.read_csv(file_path_99co_bogor_bagas)

# Specify the path to the CSV file
file_path_99co_jakarta_bagas = 'Processed_Data/99co_jakarta_bagas.csv'

# Read the CSV file into a Pandas DataFrame
df_99co_jakarta_bagas = pd.read_csv(file_path_99co_jakarta_bagas)

# Specify the path to the CSV file
file_path_rumah123_jakarta_salma = 'Processed_Data/rumah123_jakarta_salma.csv'

# Read the CSV file into a Pandas DataFrame
df_rumah123_jakarta_salma = pd.read_csv(file_path_rumah123_jakarta_salma)

In [82]:
df_99co_bekasi_nopal

,District,City,Latitude,Longitude,Price,Land_Size_M2,Building_Size_M2,Floors,Bedrooms,Bathrooms,Carport/Garage
0,Babelan,Bekasi,-6.227721,107.001649,3.450000e+08,60.0,40.0,1.0,2.0,1.0,1.0
1,Pondokmelati,Bekasi,-6.296441,106.921566,1.265000e+09,90.0,110.0,2.0,3.0,3.0,2.0
2,Bekasi Utara,Bekasi,-6.211765,107.003851,1.300000e+09,80.0,120.0,2.0,3.0,3.0,2.0
3,Cikarang Pusat,Bekasi,-6.365165,107.182391,1.090000e+09,98.0,102.0,2.0,4.0,2.0,2.0
4,Mustikajaya,Bekasi,-6.303947,107.026896,8.000000e+08,96.0,75.0,1.0,3.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
2766,Bekasi Barat,Bekasi,-6.231262,106.959849,1.400000e+09,90.0,90.0,2.0,2.0,2.0,1.0
2767,Babelan,Bekasi,-6.182492,107.013375,3.990000e+08,60.0,50.0,1.0,3.0,1.0,0.0
2768,Babelan,Bekasi,-6.182492,107.013375,4.900000e+08,75.0,50.0,1.0,3.0,2.0,0.0
2769,Medan Satria,Bekasi,-6.181184,106.981958,8.000000e+08,100.0,85.0,1.0,3.0,2.0,0.0
2770,Bekasi Barat,Bekasi,-6.231262,106.959849,1.500000e+09,100.0,150.0,2.0,3.0,2.0,0.0

In [83]:
df_99co_bogor_nopal

,District,City,Latitude,Longitude,Price,Land_Size_M2,Building_Size_M2,Floors,Bedrooms,Bathrooms,Carport/Garage
0,Parung Panjang,Bogor,-6.368107,106.553387,8.340000e+08,72.0,64.0,2.0,3.0,2.0,1.0
1,Dramaga,Bogor,-6.577669,106.731922,4.990000e+08,110.0,38.0,1.0,2.0,1.0,1.0
2,Gunung Putri,Bogor,-6.403049,106.929958,5.000000e+08,70.0,36.0,1.0,2.0,1.0,1.0
3,Babakan Madang,Bogor,-6.521133,106.850288,6.500000e+08,105.0,55.0,1.0,2.0,1.0,0.0
4,Bogor Barat,Bogor,-6.569111,106.775473,6.500000e+08,91.0,70.0,1.0,2.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
2482,Gunung Putri,Bogor,-6.428865,106.924055,5.800000e+08,70.0,36.0,1.0,2.0,1.0,1.0
2483,Bogor Selatan,Bogor,-6.632370,106.807598,8.950000e+08,72.0,68.0,2.0,3.0,2.0,2.0
2484,Sukaraja,Bogor,-6.530105,106.805173,6.500000e+08,72.0,65.0,2.0,3.0,3.0,2.0
2485,Bogor Selatan,Bogor,-6.632238,106.793639,1.300000e+09,72.0,72.0,2.0,3.0,2.0,2.0
2486,Cibungbulang,Bogor,-6.574966,106.660664,4.430000e+08,90.0,36.0,1.0,2.0,1.0,1.0

In [84]:
df_99co_tangerang_nopal

,District,City,Latitude,Longitude,Price,Land_Size_M2,Building_Size_M2,Floors,Bedrooms,Bathrooms,Carport/Garage
0,Panongan,Tangerang,-6.260340,106.523592,3.100000e+09,200.0,360.0,2.0,6.0,3.0,4.0
1,Karang Tengah,Tangerang,-6.203917,106.715555,4.500000e+09,105.0,156.0,3.0,3.0,3.0,2.0
2,Cisauk,Tangerang,-6.340859,106.636918,3.800000e+08,60.0,35.0,1.0,2.0,1.0,1.0
3,Cisauk,Tangerang,-6.340859,106.636918,3.800000e+08,60.0,35.0,1.0,2.0,1.0,1.0
4,Karawaci,Tangerang,-6.185530,106.613187,4.000000e+08,35.0,35.0,1.0,2.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
2804,Kelapa Dua,Tangerang,-6.243365,106.628853,2.200000e+09,108.0,230.0,3.0,3.0,3.0,1.0
2805,Larangan,Tangerang,-6.232184,106.730296,1.400000e+09,176.0,70.0,1.0,3.0,2.0,1.0
2806,Cipondoh,Tangerang,-6.186628,106.682596,2.500000e+09,90.0,132.0,2.0,4.0,4.0,0.0
2807,Ciledug,Tangerang,-6.241727,106.702333,1.700000e+09,274.0,250.0,1.0,4.0,1.0,2.0
2808,Legok,Tangerang,-6.283682,106.590819,9.500000e+08,78.0,67.0,2.0,3.0,2.0,1.0

In [85]:
df_99co_depok_nopal

,District,City,Latitude,Longitude,Price,Land_Size_M2,Building_Size_M2,Floors,Bedrooms,Bathrooms,Carport/Garage
0,Cilodong,Depok,-6.425320,106.850206,5.990000e+08,96.0,65.0,2.0,2.0,1.0,1.0
1,Cipayung,Depok,-6.419744,106.796065,4.000000e+08,60.0,40.0,1.0,2.0,1.0,1.0
2,Sawangan,Depok,-6.436818,106.817048,8.000000e+08,70.0,72.0,2.0,3.0,2.0,2.0
3,Sawangan,Depok,-6.407547,106.755587,6.800000e+08,62.0,49.0,2.0,2.0,2.0,1.0
4,Sawangan,Depok,-6.412430,106.780123,6.350000e+08,84.0,75.0,2.0,3.0,3.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...
2945,Cinere,Depok,-6.327794,106.801633,2.200000e+09,105.0,100.0,2.0,3.0,2.0,2.0
2946,Pancoran Mas,Depok,-6.394632,106.795063,7.500000e+08,72.0,45.0,1.0,2.0,2.0,1.0
2947,Cipayung,Depok,-6.419744,106.796065,4.000000e+08,45.0,25.0,1.0,1.0,1.0,0.0
2948,Cimanggis,Depok,-6.377052,106.903801,2.100000e+09,128.0,180.0,2.0,4.0,3.0,2.0
2949,Cimanggis,Depok,-6.356087,106.879792,2.500000e+09,150.0,200.0,2.0,3.0,3.0,2.0

In [86]:
df_99co_bogor_bagas

,District,City,Latitude,Longitude,Price,Land_Size_M2,Building_Size_M2,Floors,Bedrooms,Bathrooms,Carport/Garage
0,Cibinong,Kabupaten Bogor,-6.490107,106.830695,683000000.0,88.0,36.0,1.0,2.0,1.0,1.0
1,Megamendung,Kabupaten Bogor,-6.650962,106.905743,500000000.0,320.0,160.0,1.0,3.0,2.0,1.0
2,Jonggol,Kabupaten Bogor,-6.459747,107.042296,395000000.0,72.0,60.0,1.0,3.0,2.0,1.0
3,Cibinong,Kabupaten Bogor,-6.490107,106.830695,683000000.0,88.0,36.0,1.0,2.0,1.0,1.0
4,Tajur Halang,Kabupaten Bogor,-6.471348,106.780286,100000000.0,60.0,36.0,1.0,2.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
713,Cibinong,Kabupaten Bogor,-6.490107,106.830695,783191000.0,60.0,65.0,2.0,2.0,2.0,0.0
714,Cibinong,Kabupaten Bogor,-6.490107,106.830695,783191000.0,60.0,65.0,2.0,2.0,2.0,0.0
715,Cibinong,Kabupaten Bogor,-6.490107,106.830695,783191000.0,60.0,65.0,2.0,2.0,2.0,0.0
716,Bojonggede,Kabupaten Bogor,-6.496061,106.794702,672811080.0,105.0,36.0,1.0,2.0,1.0,0.0
717,Bojonggede,Kabupaten Bogor,-6.496061,106.794702,672811080.0,105.0,36.0,1.0,2.0,1.0,0.0

In [87]:
df_99co_jakarta_bagas

,District,City,Latitude,Longitude,Price,Land_Size_M2,Building_Size_M2,Floors,Bedrooms,Bathrooms,Carport/Garage
0,Jatinegara,Jakarta Timur,-6.223161,106.887183,5.900000e+09,266.0,200.0,1.0,3.0,4.0,2.0
1,Ciracas,Jakarta Timur,-6.309249,106.903398,7.500000e+08,85.0,74.0,2.0,3.0,3.0,1.0
2,Cakung,Jakarta Timur,-6.187508,106.959384,1.200000e+09,52.0,52.0,2.0,3.0,2.0,1.0
3,Pasar Minggu,Jakarta Selatan,-6.289610,106.839962,3.000000e+09,100.0,102.0,2.0,4.0,2.0,2.0
4,Cempaka Putih,Jakarta Pusat,-6.186833,106.866500,9.500000e+09,360.0,350.0,2.0,4.0,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
1965,Cakung,Jakarta Timur,-6.187508,106.959384,1.950000e+09,90.0,170.0,2.0,3.0,2.0,1.0
1966,Kelapa Gading,Jakarta Utara,-6.161309,106.904982,7.000000e+09,230.0,309.0,2.0,5.0,3.0,1.0
1967,Kelapa Gading,Jakarta Utara,-6.161309,106.904982,1.500000e+10,499.0,415.0,2.0,5.0,4.0,1.0
1968,Pasar Minggu,Jakarta Selatan,-6.289610,106.839962,6.000000e+09,176.0,250.0,2.0,4.0,4.0,2.0
1969,Jatinegara,Jakarta Timur,-6.228442,106.885150,6.400000e+09,286.0,200.0,2.0,6.0,2.0,2.0

In [88]:
df_rumah123_jakarta_salma

,Floors,Bedrooms,Bathrooms,Building_Size_M2,Land_Size_M2,Latitude,Longitude,Price,District,City,Carport/Garage
0,2.0,2.0,1.0,96.0,45.0,-6.027368,106.679001,1.100000e+09,Pantai Indah Kapuk,Jakarta Utara,1.0
1,1.0,3.0,2.0,130.0,190.0,-6.186638,106.742505,5.000000e+09,Puri Indah,Jakarta Barat,1.0
2,2.0,2.0,2.0,31.0,16.0,-6.209890,106.898720,4.010000e+08,Cipinang,Jakarta Timur,0.0
3,3.0,4.0,3.0,480.0,200.0,-6.102644,106.741162,8.800000e+09,Pantai Indah Kapuk,Jakarta Utara,2.0
4,1.0,3.0,2.0,300.0,300.0,-6.243936,106.799783,1.500000e+10,Kebayoran Baru,Jakarta Selatan,3.0
...,...,...,...,...,...,...,...,...,...,...,...
2409,1.0,5.0,6.0,1300.0,583.0,-6.107730,106.791458,1.850000e+10,Pantai Mutiara,Jakarta Utara,1.0
2410,4.0,4.0,3.0,262.0,156.0,-6.277783,106.811422,5.400000e+09,Kemang,Jakarta Selatan,2.0
2411,2.0,2.0,2.0,120.0,90.0,-6.170157,106.762833,1.700000e+09,Daan Mogot,Jakarta Barat,1.0
2412,2.0,3.0,3.0,136.0,120.0,-6.164927,106.705773,2.800000e+09,Semanan,Jakarta Barat,2.0
2413,2.0,4.0,4.0,1500.0,880.0,-6.193730,106.839211,1.000000e+11,Menteng,Jakarta Pusat,6.0

## A Little Bit of Preprocessing

In [89]:
df_99co_bogor_bagas[['City']] = df_99co_bogor_bagas[['City']].applymap(lambda x: x.strip() if isinstance(x, str) else x)

C:\Users\Intel X Nvidia\AppData\Local\Temp\ipykernel_1428\1468214247.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_99co_bogor_bagas[['City']] = df_99co_bogor_bagas[['City']].applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [90]:
df_99co_bogor_bagas

,District,City,Latitude,Longitude,Price,Land_Size_M2,Building_Size_M2,Floors,Bedrooms,Bathrooms,Carport/Garage
0,Cibinong,Kabupaten Bogor,-6.490107,106.830695,683000000.0,88.0,36.0,1.0,2.0,1.0,1.0
1,Megamendung,Kabupaten Bogor,-6.650962,106.905743,500000000.0,320.0,160.0,1.0,3.0,2.0,1.0
2,Jonggol,Kabupaten Bogor,-6.459747,107.042296,395000000.0,72.0,60.0,1.0,3.0,2.0,1.0
3,Cibinong,Kabupaten Bogor,-6.490107,106.830695,683000000.0,88.0,36.0,1.0,2.0,1.0,1.0
4,Tajur Halang,Kabupaten Bogor,-6.471348,106.780286,100000000.0,60.0,36.0,1.0,2.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
713,Cibinong,Kabupaten Bogor,-6.490107,106.830695,783191000.0,60.0,65.0,2.0,2.0,2.0,0.0
714,Cibinong,Kabupaten Bogor,-6.490107,106.830695,783191000.0,60.0,65.0,2.0,2.0,2.0,0.0
715,Cibinong,Kabupaten Bogor,-6.490107,106.830695,783191000.0,60.0,65.0,2.0,2.0,2.0,0.0
716,Bojonggede,Kabupaten Bogor,-6.496061,106.794702,672811080.0,105.0,36.0,1.0,2.0,1.0,0.0
717,Bojonggede,Kabupaten Bogor,-6.496061,106.794702,672811080.0,105.0,36.0,1.0,2.0,1.0,0.0

In [91]:
df_99co_bogor_bagas['City'] = df_99co_bogor_bagas['City'].replace({"Kabupaten Bogor": "Bogor"})

In [92]:
df_99co_bogor_bagas

,District,City,Latitude,Longitude,Price,Land_Size_M2,Building_Size_M2,Floors,Bedrooms,Bathrooms,Carport/Garage
0,Cibinong,Bogor,-6.490107,106.830695,683000000.0,88.0,36.0,1.0,2.0,1.0,1.0
1,Megamendung,Bogor,-6.650962,106.905743,500000000.0,320.0,160.0,1.0,3.0,2.0,1.0
2,Jonggol,Bogor,-6.459747,107.042296,395000000.0,72.0,60.0,1.0,3.0,2.0,1.0
3,Cibinong,Bogor,-6.490107,106.830695,683000000.0,88.0,36.0,1.0,2.0,1.0,1.0
4,Tajur Halang,Bogor,-6.471348,106.780286,100000000.0,60.0,36.0,1.0,2.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
713,Cibinong,Bogor,-6.490107,106.830695,783191000.0,60.0,65.0,2.0,2.0,2.0,0.0
714,Cibinong,Bogor,-6.490107,106.830695,783191000.0,60.0,65.0,2.0,2.0,2.0,0.0
715,Cibinong,Bogor,-6.490107,106.830695,783191000.0,60.0,65.0,2.0,2.0,2.0,0.0
716,Bojonggede,Bogor,-6.496061,106.794702,672811080.0,105.0,36.0,1.0,2.0,1.0,0.0
717,Bojonggede,Bogor,-6.496061,106.794702,672811080.0,105.0,36.0,1.0,2.0,1.0,0.0

## To One

In [93]:
# List of DataFrames
dfs = [
    df_99co_bekasi_nopal,
    df_99co_bogor_nopal,
    df_99co_tangerang_nopal,
    df_99co_depok_nopal,
    df_99co_bogor_bagas,
    df_99co_jakarta_bagas,
    df_rumah123_jakarta_salma
]

# Combine all DataFrames into one DataFrame
combined_df = pd.concat(dfs, ignore_index=True)

combined_df

,District,City,Latitude,Longitude,Price,Land_Size_M2,Building_Size_M2,Floors,Bedrooms,Bathrooms,Carport/Garage
0,Babelan,Bekasi,-6.227721,107.001649,3.450000e+08,60.0,40.0,1.0,2.0,1.0,1.0
1,Pondokmelati,Bekasi,-6.296441,106.921566,1.265000e+09,90.0,110.0,2.0,3.0,3.0,2.0
2,Bekasi Utara,Bekasi,-6.211765,107.003851,1.300000e+09,80.0,120.0,2.0,3.0,3.0,2.0
3,Cikarang Pusat,Bekasi,-6.365165,107.182391,1.090000e+09,98.0,102.0,2.0,4.0,2.0,2.0
4,Mustikajaya,Bekasi,-6.303947,107.026896,8.000000e+08,96.0,75.0,1.0,3.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
16114,Pantai Mutiara,Jakarta Utara,-6.107730,106.791458,1.850000e+10,583.0,1300.0,1.0,5.0,6.0,1.0
16115,Kemang,Jakarta Selatan,-6.277783,106.811422,5.400000e+09,156.0,262.0,4.0,4.0,3.0,2.0
16116,Daan Mogot,Jakarta Barat,-6.170157,106.762833,1.700000e+09,90.0,120.0,2.0,2.0,2.0,1.0
16117,Semanan,Jakarta Barat,-6.164927,106.705773,2.800000e+09,120.0,136.0,2.0,3.0,3.0,2.0
16118,Menteng,Jakarta Pusat,-6.193730,106.839211,1.000000e+11,880.0,1500.0,2.0,4.0,4.0,6.0

In [94]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16119 entries, 0 to 16118
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   District          16119 non-null  object
 1   City              16119 non-null  object
 2   Latitude          16119 non-null  float64
 3   Longitude         16119 non-null  float64
 4   Price             16119 non-null  float64
 5   Land_Size_M2      16119 non-null  float64
 6   Building_Size_M2  16119 non-null  float64
 7   Floors            16119 non-null  float64
 8   Bedrooms          16119 non-null  float64
 9   Bathrooms         16119 non-null  float64
 10  Carport/Garage    16119 non-null  float64
dtypes: float64(9), object(2)
memory usage: 1.4+ MB

In [95]:
unique_counts = combined_df['City'].value_counts()

unique_counts

City
Bogor              3126
Depok              2934
Tangerang          2794
Bekasi             2771
Jakarta Selatan    1277
Jakarta Utara      1043
Jakarta Barat      1012
Jakarta Timur       755
Jakarta Pusat       264
Kota Bogor           73
Jawa Barat           22
Kali Deres           18
Banten               15
Jakarta              13
Setia Budi            2
Name: count, dtype: int64

In [96]:
# Create a mask to identify rows where 'city' is 'Banten', 'Jakarta', or 'Jawa Barat'
mask = combined_df['City'].isin(['Banten', 'Jakarta', 'Jawa Barat'])

# Drop rows where 'city' is 'Banten', 'Jakarta', or 'Jawa Barat'
combined_df = combined_df[~mask]

In [97]:
combined_df['City'] = combined_df['City'].replace({'Kota Bogor': 'Bogor'})

C:\Users\Intel X Nvidia\AppData\Local\Temp\ipykernel_1428\3134070995.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df['City'] = combined_df['City'].replace({'Kota Bogor': 'Bogor'})

In [98]:
# Update 'city' and 'district' columns based on conditions
mask = combined_df['City'] == 'Kali Deres'
combined_df.loc[mask, 'City'] = 'Jakarta Barat'
combined_df.loc[mask, 'District'] = 'Kali Deres'

In [99]:
# Update 'city' and 'district' columns based on conditions
mask = combined_df['City'] == 'Setia Budi'
combined_df.loc[mask, 'City'] = 'Jakarta Selatan'
combined_df.loc[mask, 'District'] = 'Setia Budi'

In [100]:
unique_counts = combined_df['City'].value_counts()

unique_counts

City
Bogor              3199
Depok              2934
Tangerang          2794
Bekasi             2771
Jakarta Selatan    1279
Jakarta Utara      1043
Jakarta Barat      1030
Jakarta Timur       755
Jakarta Pusat       264
Name: count, dtype: int64

In [101]:
combined_df

,District,City,Latitude,Longitude,Price,Land_Size_M2,Building_Size_M2,Floors,Bedrooms,Bathrooms,Carport/Garage
0,Babelan,Bekasi,-6.227721,107.001649,3.450000e+08,60.0,40.0,1.0,2.0,1.0,1.0
1,Pondokmelati,Bekasi,-6.296441,106.921566,1.265000e+09,90.0,110.0,2.0,3.0,3.0,2.0
2,Bekasi Utara,Bekasi,-6.211765,107.003851,1.300000e+09,80.0,120.0,2.0,3.0,3.0,2.0
3,Cikarang Pusat,Bekasi,-6.365165,107.182391,1.090000e+09,98.0,102.0,2.0,4.0,2.0,2.0
4,Mustikajaya,Bekasi,-6.303947,107.026896,8.000000e+08,96.0,75.0,1.0,3.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
16114,Pantai Mutiara,Jakarta Utara,-6.107730,106.791458,1.850000e+10,583.0,1300.0,1.0,5.0,6.0,1.0
16115,Kemang,Jakarta Selatan,-6.277783,106.811422,5.400000e+09,156.0,262.0,4.0,4.0,3.0,2.0
16116,Daan Mogot,Jakarta Barat,-6.170157,106.762833,1.700000e+09,90.0,120.0,2.0,2.0,2.0,1.0
16117,Semanan,Jakarta Barat,-6.164927,106.705773,2.800000e+09,120.0,136.0,2.0,3.0,3.0,2.0
16118,Menteng,Jakarta Pusat,-6.193730,106.839211,1.000000e+11,880.0,1500.0,2.0,4.0,4.0,6.0

In [102]:
combined_df = combined_df.drop_duplicates()

In [103]:
combined_df

,District,City,Latitude,Longitude,Price,Land_Size_M2,Building_Size_M2,Floors,Bedrooms,Bathrooms,Carport/Garage
0,Babelan,Bekasi,-6.227721,107.001649,3.450000e+08,60.0,40.0,1.0,2.0,1.0,1.0
1,Pondokmelati,Bekasi,-6.296441,106.921566,1.265000e+09,90.0,110.0,2.0,3.0,3.0,2.0
2,Bekasi Utara,Bekasi,-6.211765,107.003851,1.300000e+09,80.0,120.0,2.0,3.0,3.0,2.0
3,Cikarang Pusat,Bekasi,-6.365165,107.182391,1.090000e+09,98.0,102.0,2.0,4.0,2.0,2.0
4,Mustikajaya,Bekasi,-6.303947,107.026896,8.000000e+08,96.0,75.0,1.0,3.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
16114,Pantai Mutiara,Jakarta Utara,-6.107730,106.791458,1.850000e+10,583.0,1300.0,1.0,5.0,6.0,1.0
16115,Kemang,Jakarta Selatan,-6.277783,106.811422,5.400000e+09,156.0,262.0,4.0,4.0,3.0,2.0
16116,Daan Mogot,Jakarta Barat,-6.170157,106.762833,1.700000e+09,90.0,120.0,2.0,2.0,2.0,1.0
16117,Semanan,Jakarta Barat,-6.164927,106.705773,2.800000e+09,120.0,136.0,2.0,3.0,3.0,2.0
16118,Menteng,Jakarta Pusat,-6.193730,106.839211,1.000000e+11,880.0,1500.0,2.0,4.0,4.0,6.0

In [104]:
unique_counts = combined_df['City'].value_counts()

unique_counts

City
Bekasi             1849
Bogor              1702
Depok              1361
Jakarta Selatan    1241
Tangerang          1194
Jakarta Barat       997
Jakarta Utara       949
Jakarta Timur       706
Jakarta Pusat       254
Name: count, dtype: int64

## Sanity Check

In [105]:
# Compute maximum and minimum values for each column
max_values = combined_df.max()
min_values = combined_df.min()

# Construct dictionary with maximum and minimum values for each column
result_dict = {}
for column in combined_df.columns:
  if(column == "Price"):
    continue
  result_dict[f"{column}_max"] = max_values[column]
  result_dict[f"{column}_min"] = min_values[column]

result_dict

{'District_max': 'patra kuningan',
 'District_min': ' Babakan Madang',
 'City_max': 'Tangerang',
 'City_min': 'Bekasi',
 'Latitude_max': 0.0074957683468534,
 'Latitude_min': -7.390627384185791,
 'Longitude_max': 107.5799956,
 'Longitude_min': 0.009927861392498,
 'Land_Size_M2_max': 9632.0,
 'Land_Size_M2_min': 2.0,
 'Building_Size_M2_max': 4461.0,
 'Building_Size_M2_min': 1.0,
 'Floors_max': 14.0,
 'Floors_min': 1.0,
 'Bedrooms_max': 56.0,
 'Bedrooms_min': 1.0,
 'Bathrooms_max': 56.0,
 'Bathrooms_min': -1.0,
 'Carport/Garage_max': 15.0,
 'Carport/Garage_min': 0.0}

In [106]:
combined_df.drop(combined_df[combined_df['Building_Size_M2'] < 20].index, inplace=True)
combined_df.drop(combined_df[combined_df['Bathrooms'] < 0].index, inplace=True)
combined_df.drop(combined_df[combined_df['Land_Size_M2'] < 20].index, inplace=True)

combined_df

C:\Users\Intel X Nvidia\AppData\Local\Temp\ipykernel_1428\3161294148.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df.drop(combined_df[combined_df['Building_Size_M2'] < 20].index, inplace=True)
C:\Users\Intel X Nvidia\AppData\Local\Temp\ipykernel_1428\3161294148.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df.drop(combined_df[combined_df['Bathrooms'] < 0].index, inplace=True)
C:\Users\Intel X Nvidia\AppData\Local\Temp\ipykernel_1428\3161294148.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df.drop(combined_df[combined_df['Land_Size_M2'] < 20].index, inplace=True)

,District,City,Latitude,Longitude,Price,Land_Size_M2,Building_Size_M2,Floors,Bedrooms,Bathrooms,Carport/Garage
0,Babelan,Bekasi,-6.227721,107.001649,3.450000e+08,60.0,40.0,1.0,2.0,1.0,1.0
1,Pondokmelati,Bekasi,-6.296441,106.921566,1.265000e+09,90.0,110.0,2.0,3.0,3.0,2.0
2,Bekasi Utara,Bekasi,-6.211765,107.003851,1.300000e+09,80.0,120.0,2.0,3.0,3.0,2.0
3,Cikarang Pusat,Bekasi,-6.365165,107.182391,1.090000e+09,98.0,102.0,2.0,4.0,2.0,2.0
4,Mustikajaya,Bekasi,-6.303947,107.026896,8.000000e+08,96.0,75.0,1.0,3.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
16114,Pantai Mutiara,Jakarta Utara,-6.107730,106.791458,1.850000e+10,583.0,1300.0,1.0,5.0,6.0,1.0
16115,Kemang,Jakarta Selatan,-6.277783,106.811422,5.400000e+09,156.0,262.0,4.0,4.0,3.0,2.0
16116,Daan Mogot,Jakarta Barat,-6.170157,106.762833,1.700000e+09,90.0,120.0,2.0,2.0,2.0,1.0
16117,Semanan,Jakarta Barat,-6.164927,106.705773,2.800000e+09,120.0,136.0,2.0,3.0,3.0,2.0
16118,Menteng,Jakarta Pusat,-6.193730,106.839211,1.000000e+11,880.0,1500.0,2.0,4.0,4.0,6.0

In [107]:
# Compute maximum and minimum values for each column
max_values = combined_df.max()
min_values = combined_df.min()

# Construct dictionary with maximum and minimum values for each column
result_dict = {}
for column in combined_df.columns:
  if(column == "Price"):
    continue
  result_dict[f"{column}_max"] = max_values[column]
  result_dict[f"{column}_min"] = min_values[column]

result_dict

{'District_max': 'patra kuningan',
 'District_min': ' Babakan Madang',
 'City_max': 'Tangerang',
 'City_min': 'Bekasi',
 'Latitude_max': 0.0074957683468534,
 'Latitude_min': -7.390627384185791,
 'Longitude_max': 107.5799956,
 'Longitude_min': 0.009927861392498,
 'Land_Size_M2_max': 9632.0,
 'Land_Size_M2_min': 20.0,
 'Building_Size_M2_max': 4461.0,
 'Building_Size_M2_min': 21.0,
 'Floors_max': 14.0,
 'Floors_min': 1.0,
 'Bedrooms_max': 56.0,
 'Bedrooms_min': 1.0,
 'Bathrooms_max': 56.0,
 'Bathrooms_min': 1.0,
 'Carport/Garage_max': 15.0,
 'Carport/Garage_min': 0.0}

In [108]:
combined_df['City'] = combined_df['City'].str.title()
combined_df['District'] = combined_df['District'].str.title()

C:\Users\Intel X Nvidia\AppData\Local\Temp\ipykernel_1428\411607948.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df['City'] = combined_df['City'].str.title()
C:\Users\Intel X Nvidia\AppData\Local\Temp\ipykernel_1428\411607948.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df['District'] = combined_df['District'].str.title()

In [109]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10203 entries, 0 to 16118
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   District          10203 non-null  object
 1   City              10203 non-null  object
 2   Latitude          10203 non-null  float64
 3   Longitude         10203 non-null  float64
 4   Price             10203 non-null  float64
 5   Land_Size_M2      10203 non-null  float64
 6   Building_Size_M2  10203 non-null  float64
 7   Floors            10203 non-null  float64
 8   Bedrooms          10203 non-null  float64
 9   Bathrooms         10203 non-null  float64
 10  Carport/Garage    10203 non-null  float64
dtypes: float64(9), object(2)
memory usage: 956.5+ KB

In [110]:
combined_df

,District,City,Latitude,Longitude,Price,Land_Size_M2,Building_Size_M2,Floors,Bedrooms,Bathrooms,Carport/Garage
0,Babelan,Bekasi,-6.227721,107.001649,3.450000e+08,60.0,40.0,1.0,2.0,1.0,1.0
1,Pondokmelati,Bekasi,-6.296441,106.921566,1.265000e+09,90.0,110.0,2.0,3.0,3.0,2.0
2,Bekasi Utara,Bekasi,-6.211765,107.003851,1.300000e+09,80.0,120.0,2.0,3.0,3.0,2.0
3,Cikarang Pusat,Bekasi,-6.365165,107.182391,1.090000e+09,98.0,102.0,2.0,4.0,2.0,2.0
4,Mustikajaya,Bekasi,-6.303947,107.026896,8.000000e+08,96.0,75.0,1.0,3.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
16114,Pantai Mutiara,Jakarta Utara,-6.107730,106.791458,1.850000e+10,583.0,1300.0,1.0,5.0,6.0,1.0
16115,Kemang,Jakarta Selatan,-6.277783,106.811422,5.400000e+09,156.0,262.0,4.0,4.0,3.0,2.0
16116,Daan Mogot,Jakarta Barat,-6.170157,106.762833,1.700000e+09,90.0,120.0,2.0,2.0,2.0,1.0
16117,Semanan,Jakarta Barat,-6.164927,106.705773,2.800000e+09,120.0,136.0,2.0,3.0,3.0,2.0
16118,Menteng,Jakarta Pusat,-6.193730,106.839211,1.000000e+11,880.0,1500.0,2.0,4.0,4.0,6.0

In [111]:
# Save the DataFrame to a CSV file
combined_df.to_csv('house_price_jabodetabek_dataset.csv', index=False)

print("DataFrame saved to CSV file successfully.")

DataFrame saved to CSV file successfully.